@font-face{
    font-family: 'Akko';
    font-weight: normal;
    src: url('fonts/AkkoPro-Light.ttf')
}

@font-face{
    font-family: 'Akko';
    font-weight: bold;
    src: url('fonts/AkkoPro-Medium.ttf')
}

.material-symbols-sharp {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

body {
    /*background-color: #383838;*/
    background-color: #000;
    font-family: "Akko", Arial, Helvetica, sans-serif;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
}
button {
    font-family: "Akko", Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#main {
    text-align: center;
    background-color: #383838;
    width: 100vw;
    max-width: 480px;

}
#logo {
    width: auto;
    height: 32px;
}
#status-label {
    width: auto;
    flex-grow: 1;
    text-align: right;
    padding-right: 8px;
}

button {
    background-color: #202020;
    border: 1px solid #484848;
    color: #fff;
    border-radius: 8px;
    padding: 6px 8px;
    font-size: 12pt;
}

button:hover {
    cursor: pointer;
}

.songlist {
    text-align: center;
    width: 100%;
    background-color: #000;
}

.song_item {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 100%;
    height: 64px;
    text-align: left;
    position: relative;
}

@keyframes scaleIn {
    from {
        height: 68px;
    }

    to {
        height: 84px;
    }
}

@keyframes scaleOut {
    from {
        height: 84px;
    }

    to {
        height: 64px;
    }
}

.data {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: left;
    align-items: center;
}

.current_song {
    height: 84px;
    transition: height .5s ease;
    z-index: 4;
    animation: scaleIn .5s ease;
}

.prev_song {
    animation: scaleOut .5s ease;
}

.current_song .data {
    /* fix no progress bar bug */
    height: calc(100% - 4px);
}

.progress-wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.progress-bar {
    width: 100%;
    height: 4px;
    background-color: #ffffff40;
}

.progress {
    background-color: #fff;
    height: 100%;
    width: 0%;
    transition: width 1s linear;
}

.art_wrapper {
    height: 100%;
    width: auto;
    aspect-ratio: 1 / 1;
    perspective: 256px;
    transition: transform .5s cubic-bezier(0.33, 1, 0.68, 1);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
}

.art_wrapper img {
    height: 100%;
    width: auto;
    aspect-ratio: 1 / 1;
    margin-left: 0;
    border-radius: 0;
    box-shadow: none;
    transition: transform .5s cubic-bezier(0.33, 1, 0.68, 1)
}

.song_metadata {
    margin-left: 6px;
    width: 410px;
    transition: width .5s ease;
}

.song_item h1 {
    margin: 0;
    font-size: 20pt;
    text-wrap: nowrap;
    overflow: hidden;
    position: relative;
    top: 3px;
}

.song_item h2 {
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14pt;
    font-weight: normal;
    text-wrap: nowrap;
    overflow: hidden;
}

#time {
    font-size: 10pt;
    display: flex;
    justify-content: space-between;
}

.button_wrapper {
    width: 100%;
    height: 40px;
    background-color: #000;
    text-align: left;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 444;
}

.button_wrapper button {
    background-color: transparent;
    border: none;
    border-right: 1px solid #484848;
    color: #fff;
    border-radius: 0;
    height: 100%;
    font-size: 12pt;
}
.dot {
    background-color: #b0b0b0;
    border-radius: 100%;
    display: inline-block;
    margin-bottom: 4px;
    width: 4px;
    height: 4px;
}

.current_song .song_metadata {
    width: 394px;
}

.song_item:hover > .song_actions button {
    transform: translateX(0%);
}

.song_actions {
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    border-radius: 0;
    overflow: hidden;
}

.song_actions button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
    transform: translateX(100%);
    transition: transform .2s ease-out;
}

.song_actions button span {
    pointer-events: none;
    color: rgba(255, 255, 255, 0.7);
}