/* OpenCube Nemo Stylesheet by Hainesnoids */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.material-symbols-outlined {
    font-size: 20pt !important;
}

textarea {
    resize: none;
}
html, body {
    margin: 0;
    color: var(--accent-color);
    overflow: hidden;
    font-family: 'Inter';
    font-style: normal;
}
body {
    background: black;
    height: 100vh;
    width: 100vw;
}
#main {
    position: relative;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    width: 1920px;
    height: 1080px;
    will-change: transform;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#wrapper {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
#visualizer_wrapper {
    width: 640px;
    height: 140px;
    position: absolute;
    top: 829px;
    left: 348px;
    z-index: 2;
    overflow: hidden;
    perspective: 1024px;
    background: linear-gradient(180deg, #efefef 0%, #909090 100%);
}
#fileWrapper{
    transition:all 0.5s ease;
    z-index: 7;
    position: absolute;
    opacity: 0 !important;
    display: none !important;
}
#fileWrapper:hover{
    opacity: 0 !important;
}
#visualizer_wrapper{
    text-align: center;
}
#progress-wrapper {
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0px; /* nice */
    background-color: #00000040;
    z-index: 6;
}
#progress {
    z-index: 4;
    background-color: var(--accent-color);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 0%;
}
.metadata-itm {
    z-index: 7;
}
#cover_art {
    width: 100%;
    height: 100%;
    border-radius: 32px;
    border-radius: 0;
}
#cover_art_shadow {
    width: 100%;
    height: 100%;
    border-radius: 32px;
    transform: rotateX(180deg);
    mask-image: linear-gradient(transparent 50%, rgb(0 0 0 / 50%) 100%) !important;
    position: absolute;
    top: 100%;
    left: 0%;
    border-radius: 0;
    display: none;
}
#details_wrapper {
    width: calc(100% - 140px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 140px;
}
canvas {
    position: absolute;
    bottom: 10px;
    left: 80px; /* nice */
    z-index: 2;
    width: 340px;
    height: 32px;
    z-index: 9;
}
#title {
    position: absolute;
    margin: 0;
    top: 12px;
    left: 12px; /* nice */
    font-size: 30pt;
    text-wrap: nowrap;
    font-weight: 600;
    color: #000000 !important;
}
#artist {
    position: absolute;
    top: 58px;
    left: 12px; /* nice */
    font-weight: 500;
    font-size: 18pt;
    text-wrap: nowrap;
    color: #000000 !important;
    margin: 0;
}
#album {
    position: absolute;
    color: #ffffffb0;
    top: 72px;
    left: 12px; /* nice */
    font-weight: 500;
    font-size: 18pt;
    margin: 0;
    color: #000;
    display: none;
}
#clock {
    font-size: 18pt;
    position: absolute;
    bottom: 8px;
    margin: 0;
    left: 12px;
    color: #000;
}

#clock_neg {
    font-size: 18pt;
    position: absolute;
    bottom: 8px;
    margin: 0;
    right: 12px;
    font-weight: normal;
    color: #000;
}
#bg-video {
    width: 1920px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#art_wrapper {
    width: 140px;
    height: 140px;
    position: absolute;
    top: 0;
    left: 0;
    perspective: 128px;
    display: block;
}
#hdsblur {
    position: absolute;
    bottom: 0;
    width: 1920px;
    height: 160px;
    z-index: 999999;
    backdrop-filter: blur(10px);
    background-color: #00000040;
}
@keyframes rotateArt {
    from {
        transform: rotateY(var(--def-start));
    }
    to {
        transform: rotateY(var(--def-end));
    }
}

@keyframes rotateArtShadow {
    from {
        transform: rotateY(var(--def-start)) rotateX(180deg);
    }
    to {
        transform: rotateY(var(--def-end)) rotateX(180deg);
    }
}