/* OpenCube WATT Stylesheet by Hainesnoids */
@font-face{
    font-family: 'Akko';
    font-weight: normal;
    src: url('./AkkoPro-light.ttf')
}

@font-face{
    font-family: 'Akko';
    font-weight: bold;
    src: url('./AkkoPro-Medium.ttf')
}

textarea {
    resize: none;
}
html, body {
    margin: 0;
    color: var(--accent-color);
    overflow: hidden;
    font-family: 'Akko';
}
body {
    background: black;
    height: 100vh;
    width: 100vw;
}
#main {
    position: relative;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    width: 1920px;
    height: 1080px;
    will-change: transform;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#wrapper {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
#visualizer_wrapper {
    width: 1236px;
    height: 592px;
    position: absolute;
    top: 224px;
    left: 150px;
    z-index: 2;
    overflow: hidden;
    perspective: 1024px;
    backdrop-filter: blur(5px);
    background-color: #00000040;
}
#fileWrapper{
    transition:all 0.5s ease;
    z-index: 7;
    position: absolute;
    opacity: 0 !important;
}
#fileWrapper:hover{
    opacity: 0 !important;
}
#visualizer_wrapper{
    text-align: center;
}
#progress-wrapper {
    width: 100%;
    height: 8px;
    position: absolute;
    bottom: 0;
    left: 0px; /* nice */
    background-color: #00000040;
}
#progress {
    z-index: 4;
    background-color: var(--accent-color);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
}
.metadata-itm {
    z-index: 7;
}
#cover_art {
    width: 100%;
    height: 100%;
    border-radius: 32px;
    border-radius: 0;
}
#cover_art_shadow {
    width: 100%;
    height: 100%;
    border-radius: 32px;
    transform: rotateX(180deg);
    mask-image: linear-gradient(transparent 50%, rgb(0 0 0 / 50%) 100%) !important;
    position: absolute;
    top: 100%;
    left: 0%;
    border-radius: 0;
    display: none;
}
#details_wrapper {
    width: 1176px;
    height: 532px;
    position: absolute;
    top: 30px;
    left: 30px;
}
canvas {
    position: absolute;
    top: 110px;
    left: 0; /* nice */
    z-index: 2;
    width: 816px;
    height: 360px;
}
#title {
    position: absolute;
    margin: 0;
    top: 4px;
    left: 0px; /* nice */
    font-size: 40pt;
    text-wrap: nowrap;
    font-weight: bold;
}
#artist {
    position: absolute;
    top: 34px;
    left: 0px; /* nice */
    font-weight: normal;
    font-size: 28pt;
    font-weight: light;
}
#album {
    position: absolute;
    top: 80px;
    left: 0px; /* nice */
    font-weight: normal;
    font-size: 28pt;
    font-weight: light;
}
#clock {
    font-size: 24pt;
    position: absolute;
    bottom: 12px;
    margin: 0;
    left: 2px;
}

#clock_neg {
    font-size: 24pt;
    position: absolute;
    bottom: 12px;
    margin: 0;
    right: 2px;
    font-weight: normal;
}
#bg-video {
    width: 1920px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#art_wrapper {
    width: 360px;
    height: 360px;
    position: absolute;
    top: 30px;
    right: 30px;
    perspective: 1024px;
}
#hdsblur {
    position: absolute;
    bottom: 0;
    width: 1920px;
    height: 160px;
    z-index: 999999;
    backdrop-filter: blur(10px);
    background-color: #00000040;
}
@keyframes rotateArt {
    from {
        transform: rotateY(var(--def-start));
    }
    to {
        transform: rotateY(var(--def-end));
    }
}

@keyframes rotateArtShadow {
    from {
        transform: rotateY(var(--def-start)) rotateX(180deg);
    }
    to {
        transform: rotateY(var(--def-end)) rotateX(180deg);
    }
}